@model Loader.Models.Designation
@{
    var test = Model;
    Loader.Service.MenuTemplateService menuService = new Loader.Service.MenuTemplateService();
}

<tr class="detailsList">
    <td class="listDrill" id="@Model.DGId" style="vertical-align:top;">
        <a class="inner listDrill" Designation-caption="@Model.DGName" style="cursor:pointer;"> @Model.DGName</a>
    </td>
    <td>
       @menuService.GetUserName(Model.PostedBy)
    </td>
    <td>
        @Model.PostedOn
    </td>
    <td>
        <button class="btn btn-primary btn-xs editList" data-toggle="tooltip"  title="Edit" id="@Model.DGId" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
        <button class="btn btn-danger btn-xs deleteNode" data-toggle="tooltip"  title="Delete" id="@Model.DGId" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
    </td>
</tr>