@model ChannakyaCustomeDatePicker.Models.HolidaysInYear
@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" id="closeTop" data-dismiss="modal" aria-hidden="true">&times;</span>
            <h4 class="modal-title">Holiday Records</h4>
        </div>
        @using (Ajax.BeginForm("InsertUpdateHoliday", "DatePicker", new AjaxOptions
        {
            OnSuccess = "OnSuccess",
            OnFailure = "OnFailure",
            LoadingElementId = "progress",
            OnBegin= "OnBegin"

        }))
        {
            <div class="modal-body">
                <div class="content-box">

                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-grop_padding">
                                    @Html.HiddenFor(x => x.HolidayId)
                                    @Html.LabelFor(x => x.YearId)
                                    @Html.DropDownListFor(model => model.YearId, Model.YearList, "--select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.YearId)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(x => x.MonthId)
                                    @Html.DropDownListFor(model => model.MonthId, Model.MonthList, "--select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.YearId)
                                </div>
                            </div>
                            @if (Model.HolidayId == 0)
        {
                                <div class="col-md-6">
                                    <label></label>
                                    <div class="btn-groups">
                                        <button type="button" id="btn-addDays" class="btn btn-default btn-add"><i class="fa fa-plus"></i>Add More</button>
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label>Days</label>

                            </div>
                            <div class="col-sm-5">
                                <label>Description</label>

                            </div>
                        </div>
                        <div class="indivisual-row">
                            @Html.Partial("_Days", Model)

                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-groups modal-footer">
                @if (Model.HolidayId == 0)
        {

                    <button type="submit" class="btn btn-primary btn-save"><i class="fa fa-save"></i>Save</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary btn-save"><i class="fa fa-save"></i>Save Change</button>
                }
            </div>
        }

    </div>
</div>
<script src="~/Scripts/jquery.form.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

   <script type="text/javascript">
        function OnSuccess(response) {
          
            alert("save");
        }
        function OnBegin(response)
        {
           
            $.MessageBox({
                buttonDone: "Yes",
                buttonFail: "No",
                message: "Are you Sure?"
            }).done(function () {
                return true;
            }).fail(function () {
                return false;
            });
        }
        function OnFailure(response) {
            alert("Error occured.");
        }
</script>

@*<script>
    $(function () {
      
        $.validator.unobtrusive.parse('#holiday-form');
        $("#holiday-form").submit(function () {
            var form = $(this);
            $('#holiday-form').removeData("validator").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse($('#holiday-form'));
            debugger;
            if (!$("#holiday-form").valid()) {
                return false;
            }
            var formData = new FormData($(this)[0]);

            $.MessageBox({
                buttonDone: "Yes",
                buttonFail: "No",
                message: "Are you sure?"
            }).done(function () {
                $.ajax({
                    url: '@Url.Action("InsertUpdateHoliday", "DatePicker")',
                    type: 'POST',
                    data: formData,
                    async: false,
                    success: function (result) {
                        if (result.Success) {
                            ErrorAlert("Save Succesfully", 5000);
                            $('#pop-up-div').modal('hide');
                            location.reload();
                        } else {

                            ErrorAlert("Not Save", 5000);
                        }

                    },
                    error: function (data) {
                        debugger;
                        ErrorAlert(data.responseText, 15000)
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }).fail(function () {
                //$.MessageBox("you clicked no");
            });

            return false;
        });
        //$('#holiday-form').ajaxForm({
        //    beforeSubmit: function () {
        //        $('#holiday-form').removeData("validator").removeData("unobtrusiveValidation");
        //        $.validator.unobtrusive.parse($('#holiday-form'));
        //        debugger;
        //        if ($("#holiday-form").valid()) {
        //            debugger;
        //        } else {
        //            return false;
        //        }
        //    },
        //    success: function (result) {
        //        if (result.Success) {
        //            ErrorAlert("Save Succesfully", 5000);
        //            $('#pop-up-div').modal('hide');
        //            location.reload();
        //        } else {

        //            ErrorAlert("Not Save", 5000);
        //        }


        //    },
        //    error: function () {
        //        ErrorAlert("error", 5000);
        //    }

        //});
    });
</script>*@

