
@model Loader.Models.ResetPasswordViewModel
@{
    Layout = null;

}
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
<script src="~/Scripts/ch-dialog.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/ch-dpicker.js"></script>
<link href="~/Content/ch-dialog.css" rel="stylesheet" />
<link href="~/Content/messagebox.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />


<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <img class="img-circle" id="img_logo" src="~/Images/images.png">

            </div>
  
            @if (!ViewData.ModelState.IsValid)
            {
                var message = Html.ValidationMessage("Error");
                if (message.Equals(""))
                {
                    <div class="alert alert-danger login"> @Html.ValidationSummary("", new { @class = "text-danger" })</div>
                }
                else
                {
                    <div class="alert alert-danger login"> @Html.ValidationSummary("", new { @class = "text-danger" })</div>
                }
            }
            <!-- Begin # DIV Form -->
            <div id="div-forms">

                <!-- Begin # Login Form -->
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken();
                    <div class="modal-body">
                        <div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Reset your password.</span>
                        </div>
                        @Html.HiddenFor(x=>x.Code)
                        @Html.HiddenFor(x=>x.userId)
                        @*@Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email", @autocomplete = "off" })*@

                        @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", @placeholder = "NewPassword", @type = "password", @autocomplete = "off" })
                        @Html.TextBoxFor(x => x.ConfirmNewPassword, new { @class = "form-control", @placeholder = "ConfirmNewPassword", @type = "password", @autocomplete = "off" })
                        
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Reset</button>
                        </div>
                       
                    </div>
                }
                <!-- End # Login Form -->
                <!-- Begin | Lost Password Form -->
                <!-- Begin | Register Form -->
                <!-- Begin | Lost Password Form -->
                <!-- End | Register Form -->
            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>
<!-- END # MODAL LOGIN -->
<style>
    .login > span.field-validation-error {
        margin-left: 100px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#login-modal').modal('show');
    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
