<link href="~/Content/ch-treeview.css" rel="stylesheet" />
<script src="~/Scripts/ch-treeview.js"></script>
@model Loader.ViewModel.SearchViewModel
@{
    Loader.ViewModel.SearchViewModel param = (Loader.ViewModel.SearchViewModel)ViewData["param"];
}
<div class="treeview-popup">
    <div class="box box-warning ch-search box-solid" style="border-width:2px;">
        <div class="box-header" style="background-color:cornflowerblue;">
            <h3 class="box-title search-title">@param.Title</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="input-group" style="padding-top:2px;">
            <input type="text" name="text-filter-tree" class="form-control text-filter-tree" id="text-filter-tree" placeholder="Search...">
            <span class="input-group-btn">
                <button type="button" name="search" class="btn btn-flat filter-btn">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <div class="box-body search-area" id="search-area" Id="@Json.Encode(param.Id)"
             address="@Json.Encode(param.Address)"Phonenumber="@Json.Encode(param.PhoneNumber)" name="@Json.Encode(param.Name)" style="max-height:400px; overflow:auto;">
            @Html.Partial("~/Views/Shared/_SearchViewBody.cshtml", Model,
                  new ViewDataDictionary { { "param", param } , { "PagedList",ViewBag.CountPager} })
        </div><!-- /.box-body -->
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.text-filter-tree').focus();
    })

</script>

